* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.title_color
{
color: white;
}

body
{
    background-color: black;
}

#bgimg
{
  background-image: url("bgimg.jpg");
  background-repeat: no-repeat;
  background-size: cover; 
  width: 100%;
}


.Rcontainer1
{
  flex-wrap: wrap;
  display: flex;
  justify-content: left;
  align-items: left;
  margin-top:13em;
  flex-direction: column;
}

.Lcontainer1 ,.Lcontainer2, .Lcontainer3, .Lcontainer4   
{
  float: right;
  width: 100%;
  margin-top:3em;
  display: flex;
  justify-content: right;
  align-items: right;
  flex-wrap: wrap;
  gap: 125px;
}


.button1,.button
{
  position: relative;
  padding: 16px 30px 16px 80px;
  font-size: 1.5rem;
  color: white;
  border: 2px solid #eaedf7;
  border-radius: 3px;
  text-shadow: 0 0 15px var(--color);
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  z-index: 1;
  width: 240px;
  background-color: transparent;
}

.button1
{
  padding: 16px 70px;
}
/*
.button
{
  color: white;
  position: relative;
  padding: 16px 70px;
  font-size: 1.5rem;
  border: 2px solid #00030b;
  border-radius: 3px;
  text-shadow: 0 0 15px var(--color);
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  z-index: 1;
  width: 240px;
}*/

.play{
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
}

.button:hover,.button1:hover {
  color:black;
  border: 2px solid rgba(0, 0, 0, 0);
  box-shadow: 0 0 0px var(--color);
}

.button::before,.button1::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color);
  z-index: -1;
  transform: scale(0);
  transition: 0.5s;
}

.button:hover::before,.button1:hover::before{
  transform: scale(1);
  transition-delay: 0.5s;
  box-shadow: 0 0 10px var(--color),
    0 0 30px var(--color),
    0 0 60px var(--color);
}




.playcard1,.playcard2,.playcard3,.playcard4
{
    padding: 10px 10px;
    border: 0px;
    outline: none;
    cursor: pointer;
    color:var(--color);
    font-size: 20px;
    font-weight: 500;
    border-radius: 30px;
    background:black;
}

.popup1,.popup2,.popup3,.popup4
{
  width: 400px;
  height: 450px;
  background: var(--color);
  border-radius: 6px;
  position: absolute;
  top: center;
  left: center;
  transform: translate(-50%,-50%) scale(0.1);
  text-align:center;
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 0px 30px 30px;
  color: black;
  visibility:hidden;
  transition: transform 0.4s, top 0.4s;
}

.popup1
{
  margin-top:450px;
  right:350px;
}

.popup2
{
  margin-top:325px;
  right:350px;
}

.popup3
{
  margin-top:183px;
  right: 350px;
}

.popup4
{
  margin-top: 60px;
  right: 350px;
}

.open-popup1,.open-popup2,.open-popup3,.open-popup4
{
  visibility:visible;
  top: -250px;
  transform: translate(-50%,-50%) scale(1);
}

.Rules
{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: left;
  color: black;
  font-size: 10px;
}

p
{
    font-family:ALGERIAN;
    text-align:center;
    color:white;
    font-size:100px;
}

/* For Sign Up Button */
/*form
{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 29vw;
}

.Form_username form
{
  font-size: 15px;
}
*/
.slider {
  width: 210px;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
}

.audio-container {
  max-width: 175px;
  margin: 15px;
}

.panel-container {
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.3);
  font-size: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
  max-width: 325px;
}

.panel-container strong {
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ratings-container {
  display: flex;
  align-items: center;
  margin: 20px;
}

.rating {
  flex: 1;
  align-items: center;
  cursor: pointer;
  margin: 20px 10px 30px 25px;
  
}

.rating:hover,
.rating.active {
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.rating img {
  margin: 15px;
  width: 30px;
  height: 30px;
}

.rating small {
  color: #555;
  display: inline-block;
  padding: 5px;
  margin: 0px 0px 0px 5px;
  font-size: 15px;
}

.rating:hover small,
.rating.active small {
  color: #111;
}

.btn {
  background-color: #302d2b;
  color: #fff;
  border: 0;
  border-radius: 4px;
  padding: 12px 30px;
  cursor: pointer;
  max-width: 500px;
}

.btn:focus {
  outline: 0;
}

.btn:active {
  transform: scale(0.98);
}

.fa-heart {
  color: red;
  font-size: 30px;
  margin-bottom: 10px;
}

label
{
  font-size: 17px;
  font-family: 'Times New Roman', Times, serif;
  color:brown;
  

}

.button_back
{
  text-align: right;
  background-color: black;
  color: white;
  size: 100px;
}

